@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

body {
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
  justify-content: flex-start;
  align-items: center;
  background-color: black;
  background-image: radial-gradient(rgba(0, 120, 0, 1), black 80%);
  padding-top: 20px;
  font-size: large;
  color: white;
  font-family: "Press Start 2P";
}
