@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

body {
  margin: 0;
}

.App {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto auto auto;
  margin: 0;
  height: 100vh;
  background-color: black;
  background-image: radial-gradient(rgba(0, 120, 0, 1), black 80%);
  padding-top: 20px;
  font-size: large;
  color: white;
  font-family: "Press Start 2P";
}

/* Load side bar */
#game-loader {
  grid-row: 1 / span 3;
  /* background-color: blue; */
}

/* Game content */
#game-container {
  background-color: blueviolet;
}

/* Map placement */
#map-container {
  display: flex;
  flex-direction: column;
  grid-row: 2 / span 2;
  grid-column: 2 / 2;
  justify-self: center;
}

/* Nav Bar */
#nav-bar-container {
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Courier New", Courier, monospace;
  grid-row: 1 / span 1;
  grid-column: 2 / 2;
}

/* Sign Out */
#signOutContainer {
  /* background-color: brown; */
  grid-row: 1 / span 1;
  grid-column: 3 / 3;
}
