#signInContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#logInButton {
  margin-top: 70px;
  width: 400px;
  font-size: 30px;
  font-family: inherit;
  padding: 30px;
  letter-spacing: 8px;
  transition: 0.4s cubic-bezier(1, 0, 0, 1);
  border-radius: 4px;
  background-image: url("./codeGif.gif");
}

#logInButton:hover {
  color: white;
  transition: 1s ease-out;
  width: 450px;
  font-size: 40px;
}
